IMPORTING DATASETS
naptan guide: 
https://www.gov.uk/government/publications/national-public-transport-access-node-schema/naptan-guide-for-data-managers

In [190]:
import geopandas as gpd 
import shapely 
import pathlib 
import pandas as pd

In [192]:
Scotland_Bus_Stops = pd.read_csv(
    '/Users/ericmarshall/Desktop/Hackathon datasets/ScotlandBusStops.csv',
    header=1
)

/var/folders/xh/120rhvzs2vjg8p4fsk_11tkh0000gn/T/ipykernel_54747/2044196111.py:1: DtypeWarning: Columns (2,21,22,23,24,25,29) have mixed types. Specify dtype option on import or set low_memory=False.
  Scotland_Bus_Stops = pd.read_csv(

EXPLORING DATA

In [195]:
print(Scotland_Bus_Stops.columns)

Index(['ATCOCode', 'NaptanCode', 'PlateCode', 'CleardownCode', 'CommonName',
       'CommonNameLang', 'ShortCommonName', 'ShortCommonNameLang', 'Landmark',
       'LandmarkLang', 'Street', 'StreetLang', 'Crossing', 'CrossingLang',
       'Indicator', 'IndicatorLang', 'Bearing', 'NptgLocalityCode',
       'LocalityName', 'ParentLocalityName', 'GrandParentLocalityName', 'Town',
       'TownLang', 'Suburb', 'SuburbLang', 'LocalityCentre', 'GridType',
       'Easting', 'Northing', 'Longitude', 'Latitude', 'StopType',
       'BusStopType', 'TimingStatus', 'DefaultWaitTime', 'Notes', 'NotesLang',
       'AdministrativeAreaCode', 'CreationDateTime', 'ModificationDateTime',
       'RevisionNumber', 'Modification', 'Status'],
      dtype='object')

In [197]:
Scotland_Bus_Stops

,ATCOCode,NaptanCode,PlateCode,CleardownCode,CommonName,CommonNameLang,ShortCommonName,ShortCommonNameLang,Landmark,LandmarkLang,...,TimingStatus,DefaultWaitTime,Notes,NotesLang,AdministrativeAreaCode,CreationDateTime,ModificationDateTime,RevisionNumber,Modification,Status
0,630020011,23627454.0,NaN,NaN,Road End,NaN,NaN,NaN,Hatton Road End,NaN,...,OTH,NaN,NaN,NaN,112,2004-09-21T00:00:00.000,2023-02-20T17:00:17.538,5.0,revise,active
1,630020012,23627453.0,NaN,NaN,Road End,NaN,NaN,NaN,Hatton Road End,NaN,...,OTH,NaN,NaN,NaN,112,2004-09-21T00:00:00.000,2023-02-20T17:01:36.412,4.0,revise,active
2,630020021,23627457.0,NaN,NaN,Bridgend Crescent,NaN,NaN,NaN,Bridgend Crescent,NaN,...,OTH,NaN,NaN,NaN,112,2004-09-21T00:00:00.000,2023-02-20T16:52:21.074,9.0,revise,active
3,630020022,23629258.0,NaN,NaN,Bridgend Crescent,NaN,NaN,NaN,Bridgend Crescent,NaN,...,OTH,NaN,NaN,NaN,112,2007-02-23T12:04:00.000,2023-02-20T16:50:55.001,8.0,revise,active
4,630020023,23629649.0,NaN,NaN,Bridgend Road End,NaN,NaN,NaN,Bridgend,NaN,...,OTH,NaN,NaN,NaN,112,2010-01-29T14:27:00.000,2011-12-19T14:22:00.000,4.0,revise,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50658,60101477,94729543.0,NaN,NaN,Grosabhagh,NaN,Grosabhagh,NaN,Grosabhagh,NaN,...,OTH,NaN,NaN,NaN,142,2022-01-13T14:33:17.000,2023-07-26T15:42:34.000,1.0,revise,active
50659,60101484,94728585.0,NaN,NaN,School,NaN,Sch,NaN,School,NaN,...,PTP,NaN,NaN,NaN,142,2022-04-05T17:07:23.000,2022-04-05T17:07:23.000,0.0,new,active
50660,60101485,94729545.0,NaN,NaN,Road End,NaN,RE,NaN,NaN,NaN,...,PTP,NaN,NaN,NaN,142,2022-04-06T17:52:16.000,2023-07-25T15:14:21.001,1.0,revise,active
50661,60101486,94729237.0,NaN,NaN,Village,NaN,Village,NaN,Village,NaN,...,OTH,NaN,NaN,NaN,142,2024-12-04T11:31:57.138,2024-12-04T11:35:19.534,3.0,revise,active
50662,60101487,94729238.0,NaN,NaN,Nicolson Institute,NaN,Nicolson Inst,NaN,Nicolson Institute,NaN,...,PTP,NaN,NaN,NaN,142,2024-12-04T11:45:14.087,2024-12-04T11:46:50.809,1.0,revise,active

In [199]:
print(Scotland_Bus_Stops.columns)

Index(['ATCOCode', 'NaptanCode', 'PlateCode', 'CleardownCode', 'CommonName',
       'CommonNameLang', 'ShortCommonName', 'ShortCommonNameLang', 'Landmark',
       'LandmarkLang', 'Street', 'StreetLang', 'Crossing', 'CrossingLang',
       'Indicator', 'IndicatorLang', 'Bearing', 'NptgLocalityCode',
       'LocalityName', 'ParentLocalityName', 'GrandParentLocalityName', 'Town',
       'TownLang', 'Suburb', 'SuburbLang', 'LocalityCentre', 'GridType',
       'Easting', 'Northing', 'Longitude', 'Latitude', 'StopType',
       'BusStopType', 'TimingStatus', 'DefaultWaitTime', 'Notes', 'NotesLang',
       'AdministrativeAreaCode', 'CreationDateTime', 'ModificationDateTime',
       'RevisionNumber', 'Modification', 'Status'],
      dtype='object')

In [201]:
Scotland_Bus_Stops.head()       
Scotland_Bus_Stops.info()      
Scotland_Bus_Stops.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50663 entries, 0 to 50662
Data columns (total 43 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ATCOCode                 50663 non-null  object
 1   NaptanCode               50173 non-null  float64
 2   PlateCode                11 non-null     object
 3   CleardownCode            0 non-null      float64
 4   CommonName               50663 non-null  object
 5   CommonNameLang           0 non-null      float64
 6   ShortCommonName          6872 non-null   object
 7   ShortCommonNameLang      0 non-null      float64
 8   Landmark                 47100 non-null  object
 9   LandmarkLang             0 non-null      float64
 10  Street                   49696 non-null  object
 11  StreetLang               0 non-null      float64
 12  Crossing                 0 non-null      float64
 13  CrossingLang             0 non-null      float64
 14  Indicator                50528 non-null  object
 15  IndicatorLang            0 non-null      float64
 16  Bearing                  49793 non-null  object
 17  NptgLocalityCode         50663 non-null  object
 18  LocalityName             50663 non-null  object
 19  ParentLocalityName       18171 non-null  object
 20  GrandParentLocalityName  0 non-null      float64
 21  Town                     20275 non-null  object
 22  TownLang                 693 non-null    object
 23  Suburb                   4230 non-null   object
 24  SuburbLang               602 non-null    object
 25  LocalityCentre           48937 non-null  object
 26  GridType                 36257 non-null  object
 27  Easting                  50663 non-null  int64
 28  Northing                 50663 non-null  int64
 29  Longitude                34435 non-null  object
 30  Latitude                 34435 non-null  float64
 31  StopType                 50663 non-null  object
 32  BusStopType              49830 non-null  object
 33  TimingStatus             50049 non-null  object
 34  DefaultWaitTime          0 non-null      float64
 35  Notes                    0 non-null      float64
 36  NotesLang                0 non-null      float64
 37  AdministrativeAreaCode   50663 non-null  int64
 38  CreationDateTime         50663 non-null  object
 39  ModificationDateTime     50660 non-null  object
 40  RevisionNumber           50660 non-null  float64
 41  Modification             36254 non-null  object
 42  Status                   50663 non-null  object
dtypes: float64(15), int64(3), object(25)
memory usage: 16.6+ MB

,NaptanCode,CleardownCode,CommonNameLang,ShortCommonNameLang,LandmarkLang,StreetLang,Crossing,CrossingLang,IndicatorLang,GrandParentLocalityName,Easting,Northing,Latitude,DefaultWaitTime,Notes,NotesLang,AdministrativeAreaCode,RevisionNumber
count,5.017300e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50663.000000,5.066300e+04,34435.000000,0.0,0.0,0.0,50663.000000,50660.000000
mean,4.991105e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,292269.193790,7.260704e+05,56.661162,NaN,NaN,NaN,126.212779,2.867884
std,2.197140e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65932.197256,1.103522e+05,1.094984,NaN,NaN,NaN,8.916491,7.411744
min,3.639870e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63040.000000,3.664960e+05,53.171675,NaN,NaN,NaN,111.000000,0.000000
25%,3.432387e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254948.000000,6.639710e+05,55.956539,NaN,NaN,NaN,119.000000,0.000000
50%,4.532427e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294135.000000,6.810030e+05,56.278318,NaN,NaN,NaN,126.000000,1.000000
75%,6.752355e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335396.500000,7.668890e+05,57.309601,NaN,NaN,NaN,133.000000,3.000000
max,7.524725e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,468913.000000,1.216444e+06,60.825891,NaN,NaN,NaN,142.000000,278.000000

In [203]:
Scotland_Bus_Stops_GeoSpatial.columns

Index(['NaptanCode', 'Easting', 'Northing', 'CommonName', 'ATCOCode',
       'LocalityName', 'CreationDateTime', 'ModificationDateTime', 'Status',
       'StopType'],
      dtype='object')

EXPORTING DESIRED COLUMNS

In [206]:
Scotland_Bus_Stops_GeoSpatial = Scotland_Bus_Stops[
    [
        'NaptanCode',
        'Easting',
        'Northing',
        'CommonName',
        'ATCOCode',
        'LocalityName',
        'CreationDateTime',
        'ModificationDateTime',
        'Status',
        'StopType',
    ]
]

DELETING NULL ROWS

In [209]:
Scotland_Bus_Stops_GeoSpatial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50663 entries, 0 to 50662
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NaptanCode            50173 non-null  float64
 1   Easting               50663 non-null  int64
 2   Northing              50663 non-null  int64
 3   CommonName            50663 non-null  object
 4   ATCOCode              50663 non-null  object
 5   LocalityName          50663 non-null  object
 6   CreationDateTime      50663 non-null  object
 7   ModificationDateTime  50660 non-null  object
 8   Status                50663 non-null  object
 9   StopType              50663 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 3.9+ MB

In [211]:
Scotland_Bus_Stops_GeoSpatial = Scotland_Bus_Stops_GeoSpatial.dropna()

In [222]:
Scotland_Bus_Stops_GeoSpatial.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50170 entries, 0 to 50662
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NaptanCode            50170 non-null  float64
 1   Easting               50170 non-null  int64
 2   Northing              50170 non-null  int64
 3   CommonName            50170 non-null  object
 4   ATCOCode              50170 non-null  object
 5   LocalityName          50170 non-null  object
 6   CreationDateTime      50170 non-null  object
 7   ModificationDateTime  50170 non-null  object
 8   Status                50170 non-null  object
 9   StopType              50170 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 4.2+ MB

EXPORTING

In [228]:
# Saving to CSV 

Scotland_Bus_Stops_GeoSpatial_Cleaned.to_csv('/Users/ericmarshall/Desktop/Hackathon datasets/Scotland_Bus_Stops_Geospatial.csv', index=False)